---
layout: archive
title: "Publications"
permalink: /research/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

===

## Research Publications, Conference Presentations/Posters, Book Chapters, and Patents

  1. Ma, Y., Zhang, B., Frenkel, I., Zhang, Z., Pei, X., Zhou, F., & He, X. (2021). Mussel-inspired underwater adhesives- from adhesion mechanisms to engineering applications: A critical review. Reviews of Adhesion and Adhesives, 9(2), 167–188. https://doi.org/10.1002/9781119846703.ch17

  2. Frenkel, I., Si, M., Jazzar, A., Shi, P., Duan, S., Alsaid, Y., Du, Y., Yan, Y., He, P., He, X. (2025, in preparation). Non-aqueous specific-ion effects for tuning thermomechanical properties of organogel 3D networks. Macromolecules. 

  3. Zhao, Y., Zhang, B., Yao, B., Qiu, Y., Peng, Z., Zhang, Y., Alsaid, Y., Frenkel, I., Youssef, K., Pei, Q., & He, X. (2020). Hierarchically structured stretchable conductive hydrogels for high-performance wearable strain sensors and supercapacitors. Matter, 3(4), 1196–1210. https://doi.org/10.1016/j.matt.2020.08.024  

  4. Frenkel, I., Ke, R., Liu, Z., Zhang, C. W., He, P., Shi, P., Jazzar, A., Alsaid, A., Du, Y., Duan, S., Wu, Dong., Hua, M., Wu, S., & He, X. (2025). Angle-independent hydrogel sensors through thickness-controlled surface instabilities for autonomous soft actuator control. Materials and Interfaces, 2(3), 348-360. https://doi.org/10.53941/mi.2025.100026

  5.  Wu, D., Wu, S., Narongdej, P., Duan, S., Chen, C., Yan, Y., Liu, Z., Hong, W., Frenkel, I., & He, X. (2024). Fast and facile liquid metal printing via projection lithography for highly stretchable electronic circuits. Advanced Materials. https://doi.org/10.1002/adma.202307632  
  6.  Wu, D., Yao, B., Wu, S., Hingorani, H., Cui, Q., Hua, M., Frenkel, I., Du, Y., Hsiai, T. K., & He, X. (2022). Room‐temperature annealing‐free gold printing via anion‐assisted photochemical deposition. Advanced Materials, 34(32), 2201772. https://doi.org/10.1002/adma.202201772 

  7.  Frenkel, I., Hua, M., Alsaid, Y., & He, X. (2021). Self‐reporting hydrogel sensors based on surface instability‐induced optical scattering. Advanced Photonics Research, 2(8), 2100058. https://doi.org/10.1002/adpr.202100058 

  8.  Hua, M., Wu, S., Ma, Y., Zhao, Y., Chen, Z., Frenkel, I., Strzalka, J., Zhou, H., Zhu, X., & He, X. (2021). Strong tough hydrogels via the synergy of freeze-casting and salting out. Nature, 590(7847), 594–599. https://doi.org/10.1038/s41586-021-03212-z  

  9.  Zhao, Y., Lo, C.-Y., Ruan, L., Pi, C.-H., Kim, C., Alsaid, Y., Frenkel, I., Rico, R., Tsao, T.-C., & He, X. (2021). Somatosensory actuator based on stretchable conductive photothermally responsive hydrogel. Science Robotics, 6(53). https://doi.org/10.1126/scirobotics.abd5483  

  10. Wu, D., Song, J., Zhai, Z., Hua, M., Kim, C., Frenkel, I., Jiang, H., & He, X. (2019). Visualizing morphogenesis through instability formation in 4-D Printing. ACS Applied Materials & Interfaces, 11(50), 47468–47475. https://doi.org/10.1021/acsami.9b19730  
